:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    background-color: #c33e3e;
    color: white;
    font-weight: 600;
  }

  .content {
    position: relative;
    margin: 32px auto;
    padding: 0 16px;
    display: flex;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 100%;
    margin: 0 8px 16px;
    padding: 16px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

.persons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 50%;
}
.persons li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.persons li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.persons a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.persons a:hover {
  color:#607D8B;
}

.persons .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 50%;
  text-align: left;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.action {
  color: white;
  position: absolute;
  right: 10px;
}

button.selected{
  background-color: green!important;
}

button.un-selected{
  background-color: gray !important;
}

input[type=text], input[type=number] {
  margin: 0px 10px;
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}